<div class="search-form">
    <form method="post" action="">
        <div class="form-group">
            <label for="searchInput">Tiềm kiếm</label>
            <input type="text" class="form-control" id="searchInput" name="q" placeholder="Nhập nội dung tìm kiếm">
        </div>
        <div class="form-group">
            <label for="genderInput">Giới tính</label>
            <select class="form-control" id="genderInput" name="gender">
                <option value="" disabled>-- Chọn giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>